<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Rest Api website">
    <meta name="author" content="Alip">
    <meta property="og:image" content="https://telegra.ph/file/f492065d44c897cd3836e.png">
    <title>Alpis API │ Docs</title>
    <script src="https://kit.fontawesome.com/5367cb78eb.js" crossorigin="anonymous"></script>
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/default.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body id="page-top" class="dark-mode">
    <div id="wrapper">
   
        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/docs">
                <img src="images/icon.png" class="rounded-circle shadow-4"style="width: 50px;" alt="Avatar" />
                <div class="sidebar-brand-text mx-3">Rest API</div>
            </a>
            
            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                profile
            </div>
            <li class="nav-item active">
                <a class="nav-link" >
                    <span>Username: <%= username %><br></span>
                                        <% if(!verified){ %>
                                            <span class="h5 mb-0 font-weight-bold">Not Verified❌<br></span>

                                            <% }else{ %>
                                                <span class="h5 mb-0 font-weight-bold">Verified✔️<br></span>
                                            <% } %>

                </a>

            <div class="sidebar-heading">
                Features
            </div>
            <br>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDownload" aria-expanded="true" aria-controls="collapseBootstrap">
                    <i class="fa fa-fw fa-arrow-down"></i>
                    <span>Downloader</span>
                </a>
                <div id="collapseDownload" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Downloader Features</h6>
                        <a class="collapse-item" href="api/dowloader/fbdown?url=https://www.facebook.com/UstazAzharIdrusFansClub/videos/813224618838631&apikey=<%= apikey %>" target="_blank">Facebook</a>
                        <a class="collapse-item" href="api/dowloader/twitter?url=https://twitter.com/faqeeyaaz/status/1242789155173617664?s=20&t=DRgdl9U8MwTwpY0o1o-96g&apikey=<%= apikey %>" target="_blank">Twitter</a>
                        <a class="collapse-item" href="api/dowloader/tikok?url=https://www.tiktok.com/@oktober_.0/video/7253991864200645894&apikey=<%= apikey %>" target="_blank">Tiktok Slide Photo</a>
                        <a class="collapse-item" href="api/dowloader/tikok?url=https://www.tiktok.com/@alipje29/video/7090119331685682458&apikey=<%= apikey %>" target="_blank">Tiktok Mp4 Mp3</a>
                        <a class="collapse-item" href="api/dowloader/igstorydowloader?username=solozsoloz&apikey=<%= apikey %>" target="_blank">Instagram Story</a>
                        <a class="collapse-item" href="api/dowloader/igdowloader?url=https://www.instagram.com/reel/Cmq_dx9hbw0/&apikey=<%= apikey %>" target="_blank">Instagram Reel</a>
                        <a class="collapse-item" href="api/dowloader/igdowloader?url=https://www.instagram.com/p/Ci2NrMss2hB/&apikey=<%= apikey %>" target="_blank">Instagram Image Video</a>
                        <a class="collapse-item" href="api/dowloader/yt?url=https://youtu.be/3hXbjp-FcTc&apikey=<%= apikey %>" target="_blank">Youtube Mp4 Mp3</a>
                        <a class="collapse-item" href="api/dowloader/soundcloud?url=https://soundcloud.com/ndaa-212683099/dj-coba-kau-ingat-ingat-kembali-seharusnya-aku-jungle-dutch-terbaru-2021-full-bass-viral-tik?utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing&apikey=<%= apikey %>" target="_blank">SoundCloud</a>
                        <a class="collapse-item" href="api/dowloader/mediafire?url=https://www.mediafire.com/file/gpeiucmm1xo6ln0/hello_world.mp4/file&apikey=<%= apikey %>" target="_blank">MediaFire</a>
                        <a class="collapse-item" href="api/dowloader/sfilemobi?url=https://sfile.mobi/P0D2WxqDwA7&apikey=<%= apikey %>" target="_blank">Sfilemobi</a>
                        <a class="collapse-item" href="api/dowloader/zippyshare?url=https://www42.zippyshare.com/v/RLxFmmyZ/file.html&apikey=<%= apikey %>" target="_blank">Zippyshare</a>
                        <a class="collapse-item" href="api/dowloader/telesticker?url=https://t.me/addstickers/Shitsshitsshitsshists&apikey=<%= apikey %>" target="_blank">Telegram Sticker</a>

                    </div>
                </div>
            </li>

          

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseIslamic" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fab fa-fw fa-acquisitions-incorporated"></i>
                    <span>Islamic</span>
                </a>
                <div id="collapseIslamic" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Islam Masyaallah</h6>
                        <a class="collapse-item" target="_blank" href="api/islamic/surah?no=1&apikey=<%= apikey %>">Search Surah</a>                  
                        <a class="collapse-item" target="_blank" href="api/islamic/tafsirsurah?text=adam&apikey=<%= apikey %>">Tafsir Surah</a>                  

                      </div>
                </div>

                <div class="sidebar-heading">
                    Contact
                </div>
                <br>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/AlipBot">
                        <i class="fab fa-fw fa-github"></i>
                        <span>Github</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://instagram.com/alipje29">
                        <i class="fab fa-fw fa-instagram"></i>
                        <span>Instagram</span>
                    </a>
                </li>

                </li>

 
        </ul>
 
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
              
                <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
                    <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="/logout">
                                <i class="fa-solid fa-right-from-bracket" > </i> 
                                <span class="text-sm-left mb-0 font-weight-bold"> Log Out </span>
                                
                            </a>
                        </li>
                    </ul>
                </nav>

                <% if(!verified){ %>
                    <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                      <strong>ATTENTION !</strong> Please verify your account to continue using our services.
                      <a href="/send-verification-email">Re-send Verification Email</a>
                    </div>
                    <% } %>

                    <% if( error_messages !="" ){ %>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong> ALERT</strong>
                            <%= error_messages %>.
                        </div>
                        <% } %>
              
                        <% if( success_messages !="" ){ %>
                          <div class="alert alert-success alert-dismissible fade show" role="alert">
                              <strong> SUCCESS</strong>
                              <%= success_messages %>.
                          </div>
                          <% } %>

                    <div class="container-fluid" id="container-wrapper">
                        <div class="card h-50 mb-4">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-md-left font-weight-bold mb-2 text-primary">Rest Api Alip </div>
                                        <div class="text-sm-left mb-0 font-weight-bold">Hallo <%= username %> Selamat Datang Rest Api Alip </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-quote-right fa-2x text-primary"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <div class="row mb-3"> 

                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card h-50">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-uppercase mb-1">Visitor</div>
                                        <div class="h5 mb-0 font-weight-bold" id="visitor">0</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa-solid fa-eye fa-2xl"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card h-50">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-uppercase mb-1">Request Today</div>
                                        <div class="h5 mb-0 font-weight-bold" ><%= RequestToday %></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa fa-battery-full fa-2xl" ></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card h-50">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-uppercase mb-1">Limit Apikey</div>
                                        <div class="h5 mb-0 font-weight-bold" ><%= limit %></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa fa-battery-full fa-2xl" ></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card h-50">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-uppercase mb-1">Your Apikey</div>
                                        <div class="h5 mb-0 font-weight-bold" ><%= apikey %></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa fa-battery-full fa-2xl" ></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card h-50">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-uppercase mb-1">Battery</div>
                                        <span id="battery_level" class="h5 mb-0 font-weight-bold">Waiting... </span>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa fa-battery-full fa-2xl" ></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    

                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card h-50">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-uppercase mb-1">Jam</div>
                                        <div class="h5 mb-0 font-weight-bold" id="row-no-guttersalign-items-center">00:00:00</div>

                                    </div>
                                    <div class="col-auto">
                                        <i class="fa-solid fa-calendar fa-2xl"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="findipurl"> <a href="find-ip.net" ></a></div>

            <script defer src="https://api.find-ip.net/widget.js?width=220&bg=%23181818&border=%23181818&textcol=%23d3d5f3&language=0&system=0&"></script>


                <div class="Box mt-4">
                    <div class="Box-body p-4">
                      <div class="d-flex flex-justify-between">
                        <div class="text-mono text-small mb-3">
                        </div>
                      </div>

                    <div class="row">
                        <div class="col-lg-12 text-center">
                            Contact Me
                            <p>
                                <a href="https://github.com/AlipBot" class="btn btn-primary btn-sm mr-2" target="_blank"><i class="fab fa-fw fa-github"></i>&nbsp;Github</a>
                                <a href="https://instagram.com/m_aliff229" class="btn btn-primary btn-sm ml-2" target="_blank"><i class="fab fa-fw fa-instagram"></i>&nbsp;Instagram</a>
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
             
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        Made with <i class="fa fa-heart"></i> by
                        <a href="https://github.com/AlipBot" target="_blank" style="color: rgb(255, 234, 0);">AlipBot🇲🇾</a>
                        </span>
                    </div>
                </div>
            </footer>
       
        </div>
    </div>

    
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

          
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/ruang-admin.min.js"></script>
    <script src="js/menu.js"></script>
    

</body>

</html>
